@import '@fontsource/fira-mono';
@import './theme.css';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--h-padding:2rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		360deg,
		var(--primary-color) 0%,
		var(--alternate-color) 80.23%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.buttons{
	margin-top: .5rem;
}

.nav {
	left: 0;
	position: fixed;
	right: 0;
	z-index: 30;
	background-color: var(--primary-color);
	box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
	border-bottom: 1px solid rgb(212, 218, 223);
}

.content {
	padding-left: 1rem;
	padding-right: 1rem;
}

.v-section {
	padding: 1.5rem 0rem !important;
}

.label {
	font-weight: 500 !important;
	color: #555555 !important;
	letter-spacing: 0.04em !important; 
}

.button.is-primary:not(:hover){
	background-color: var(--blue) !important;
}

.button.is-primary:hover{
	background-color: var(--blue-enhanced) !important;
}

.button.is-danger:not(:hover){
	background-color: var(--red) !important;
}

.button.is-danger:hover{
	background-color: var(--red-enhanced) !important;
}

.panel{
	background-color: var(--primary-color) !important;
	color:var(--primary-inverted-color) !important;
}

.panel > .panel-heading{
	background-color: var(--secondary-color) !important;
}

.is-danger{
	background-color: var(--red) !important;
}

body{
  color:var(--primary-inverted-color)
}

.box{
  background-color: var(--primary-color) !important;
	color:var(--primary-inverted-color)
}

.is-primary{
	background-color: var(--primary-color);
	color:var(--primary-inverted-color)
}

h1, h2, h3, h4, .label {
	color:var(--primary-inverted-color) !important;
}

a.button {
	color:var(--primary-inverted-color)
}

.box > button, .panel-block > button, .column > .button, .panel-block, button {
	color:var(--primary-inverted-color) !important;
}

.panel-block:hover{
	color: var(--blue) !important;
	background-color: var(--secondary-color) !important;
}

.panel-block .active{
	color: var(--blue) !important;
}

.button{
	background-color: var(--light-color);
}


input:active, input:focus{
	border-color: var(--secondary-color) !important;
}

input::placeholder{
	color: var(--quarternary-color) !important;
}

a {
  color: var(--blue);  
}

.panel-heading {
color:var(--heading-color) !important;
}

